@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}